{% extends 'layout/base_template.html' %}

{% block styles %}
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Главная страница</h1>
        <div class="menu-container" style="margin-bottom: 2rem;">
            <h2 class="menu-title">Меню</h2>
            <h3>Веб-сервис для анализа КТ снимков с использованием AI и ML.</h3>
            <a href="/auth" class="menu-btn">Начать пользоваться</a>
            <a href="https://github.com/gnegDev/scanity" class="menu-btn">Исходный код</a>
        </div>

        <div class="menu-container" style="padding: 0; overflow: hidden;">
            <img src="{{ url_for('static', filename='images/main.png') }}"
                 alt="Схема"
                 style="height: 100%; width: 100%;">
        </div>
        <!-- <div class="menu-container" style="margin-top: 1rem;">
        </div> -->
    </div>
{% endblock %}