{% extends 'layout/base_template.html' %}

{% block styles %}
    <title>План лечения</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scan_styles.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Информация о пациенте</h1>
        
        <div class="info-section">
            <div class="info-panel">
                <h3 class="info-title">Информация о пациенте</h3>
                <div class="info-content" id="info1">
                    {% for key, value in patient_data.items() %}
                        {% if key != 'patient_chemo_regimen' %}
                            <p><strong>{{ key }}: </strong>{{ value }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <a href="#" class="panel-button">Удалить данные</a>
            </div>
            <div class="info-panel">
                <h3 class="info-title">Оптимиация плана лечения</h3>
                <div class="info-content" id="info2">
                    <h3>Общее</h3>
                    <p><strong>Рекомендация: </strong>{{ patient_data['patient_chemo_regimen']['recommendation'] }}</p>

                    <br>
                    <h3>План пользователя</h3>
                    <p><strong>План пользователя: </strong>{{ patient_data['patient_chemo_regimen']['doctor_plan']['treatment_type'] }}</p>
                    <p><strong>Прогноз размера опухоли через 12 мес: </strong>{{ patient_data['patient_chemo_regimen']['doctor_plan']['prediction'] }}</p>

                    <br>
                    <h3>Оптимизация плана врача</h3>
                    <p><strong>Тип лечения: </strong>{{ patient_data['patient_chemo_regimen']['local_optimal']['treatment_type'] }}</p>
                    <p><strong>Процент улучшения: </strong>{{ patient_data['patient_chemo_regimen']['local_optimal']['improvement_percent'] }}</p>
                    <p><strong>Прогноз размера опухоли через 12 мес: </strong>{{ patient_data['patient_chemo_regimen']['local_optimal']['prediction'] }}</p>

                    <br>
                    <h3>Предлагаемый план лечения</h3>
                    <p><strong>Тип лечения: </strong>{{ patient_data['patient_chemo_regimen']['global_optimal']['treatment_type'] }}</p>
                    <p><strong>Процент улучшения: </strong>{{ patient_data['patient_chemo_regimen']['global_optimal']['improvement_percent'] }}</p>
                    <p><strong>Прогноз размера опухоли через 12 мес: </strong>{{ patient_data['patient_chemo_regimen']['global_optimal']['prediction'] }}</p>
                    <p><strong>Химиотерапия: </strong>{{ patient_data['patient_chemo_regimen']['global_optimal']['chemotherapy'] }}</p>
                    <p><strong>Радиотерапия: </strong>{{ patient_data['patient_chemo_regimen']['global_optimal']['radiotherapy'] }}</p>
                </div>
                <a href="#" class="panel-button">Скачать отчёт</a>
            </div>
        </div>
    </div>
{% endblock %}
